body {
    font-family:arial,
    verdana, helvetica, sans-serif;
    font-size:16px;
    cursor:default;
    background-color:#FFFFFF;
    padding: 20px 20px;
}

.inner {
    width: 780px;
    margin: auto;
    overflow: hidden;
}
.navbar-top {
    display:inline-block;
    margin:auto;
    position:static;
    height:120px;
    text-align:center;
    width:800px;
    background-image:url("heuna.png");
    background-color:#FFFFFF;
}
.navbar-left {
    margin:auto;
    position:static;
    width:230px;
    float:left;
    color:#000000
    background-color:#FFFFFF;
}
.about{
    width:230px;
    border:2px solid #000000;
    border-radius:25px;
    -moz-border-radius:25px;
    display:inline-block;
    background-color:#FFFFFF;
    color: #000000;
} /*Adjustment for Firefox*/

.right{
    float:right;
    text-align:right;
    width:200px;
    margin-right:20px;
}
.nav_link{
    float:right;
    text-align:right;
    width:70px;
    margin-right:40px;
}

.left{
    float:left;
    text-align::left;
    width:450px;
    margin-left:55px;
}

.container {
    margin: auto;
    float: left;
    display:inline-block;
    width:500px;
}

.name {
    font-size:40px;
    font-weight:bolder;
    color:#000000;
}
.affil{
    font-size:20px;
    font-weight:bolder;
    color:#000000;
}

.addr {
    color:#B9B9B9
}
.gap {
    width:100%;
    height:30px;
}

.paper{
    font-weight:bolder;
}
.journal{
    font-style:italic;
}
hr {
    size: 2px;
    width: 400px;
    margin: auto;
    float: right;
    color: #3B0B39;
    display: inline-block;
    background-color: #3B0B39
} /*Adjustment for Firefox*/

a {
    text-decoration:none;
    color: #000000
}

ul {
    margin-left: 15px;
}

ul.desc {
    width: 85%;
    list-style-type:circle;
}

.pub {
    text-decoration:underline;
    margin-bottom:10px;
}

h3,h2 {
    margin-bottom: -3px;
}
